@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div style="float: right; margin-right: 20px; margin-top: 20px;">
        <img src="~/Content/salehinuni.jpeg" alt="Salehin's Image" style="width: 150px; height: auto;">
    </div>
    <div>
        <h1>Portfolio:</h1>
        <p><b>Name:</b> Sirajus Salehin</p>
        <p><b>Student ID:</b> 21-44543-1</p>
        <p><b>E-Mail:</b> iftymdss@@gmail.com</p>
        <p><b>Github:</b> <a href="https://github.com/Eyepatch666">Salehin</a></p>
        <p><a href="Home/Personal">Personal &raquo;</a></p>
        <p><a href="Home/Education">Education &raquo;</a></p>
        <p><a href="Home/Projects">Projects &raquo;</a></p>
        <p><a href="Home/References">References &raquo;</a></p>
    </div>
    <div style="clear: both;"></div>
</div>
