
@{
    ViewBag.Title = "Personal";
}

<h1>Personal</h1>

<h3><b>Name:</b>Sirajus Salehin</h3>
<h3><b>Fathers Name:</b> Abul Bashar</h3>
<h3><b>Mothers Name:</b> Roksana Asma</h3>
<h3><b>Contact Number:</b> 0123456789</h3>
<h3><b>Siblings:</b> 1</h3>
<h3><b>Religion:</b> Islam</h3>
