
@{
    ViewBag.Title = "Projects";
}

<h1>Projects:</h1>
<ol>
    <li><b>Java:</b><p>Library mangement where we let user borrow and buy books that are stored in our inventory</p></li>
    <li><b>Database:</b><p>Basic students data storing and normalization</p></li>
    <li><b>C#:</b><p>A matrimonial desktop application where people can share their bio data and find life companions</p></li>
    <li><b>Computer Graphics:</b><p>A basic ball catching game where balls drop from above and a basket bellow catches them</p></li>
    <li><b>Webtech:</b><p>Online educational platform where courses are sold to students</p></li>
</ol>

