
@{
    ViewBag.Title = "References";
}

<h1>References:</h1><br />

<h4><p>PROF. DR. TABIN HASAN</p></h4>
<h4><p>Professor & Head, Graduate Program (CS), Computer Science</p></h4>
<h4><p>American International University, Bangladesh</p></h4>
<h4><p>E-Mail:tabin@aiub.edu</p></h4>
<h4><p>Contact:01345678282</p></h4>
<h4><p>Relationship:Former Supervisor</p></h4><br />

<h4><p>MD.Al-Amin</p></h4>
<h4><p>Lecturer , Computer Science</p></h4>
<h4><p>American International University, Bangladesh</p></h4>
<h4><p>E-Mail:alamin@aiub.edu</p></h4>
<h4><p>Contact:01999678282</p></h4>
<h4><p>Relationship:Former Supervisor</p></h4>
